/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
/* common styles */

body {
  font-family: "Poppins", sans-serif;
  background-color: black;
}
.container {
  background-color: rgba(206, 192, 171, 0.863);
  width: 870px;
}
main {
  display: flex;
  justify-content: center;
}
/* -----------------------top-players style 
---------------------------------------------------*/
.players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.player {
  display: flex;
}

.player img {
  width: 56px;
  height: 56px;
}
